.contract-service {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 10% 10% 20vh 4vh;
    margin: 0 1% 8vh 1%;
    .contract-service__header {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    .contract-service__line {
        grid-column: 1 / span 2;
        grid-row: 2;
        height: 1px;
        border-top: 1px solid $fourth-color;
        align-self: center;
    }
    .contract-service__text {
        grid-column: 2;
        grid-row: 3;
        margin-left: 5%;
        line-height: 0.60rem;
        overflow: auto;
        text-align: justify;
    }
    .contract-service__img {
        grid-column: 1;
        grid-row: 3;
        object-fit: contain;
        width: 100%;
        height: auto;
        object-position: 0;
        justify-self: stretch;
        align-self: stretch;
    }
    .button {
        grid-column: 2;
        grid-row: 4;
        justify-self: center;
        align-self: center;
        place-self: center stretch;
        height: 80%;
    }
    .contract-service__span {
        grid-column: 1;
        grid-row: 4;
        align-self: center;
        font-weight: bold;
    }
    // .contract-service__header,
    // .contract-service__img,
    // .button,
    // .contract-service__text,
    // .contract-service__span {
    //     justify-self: stretch;
    //     align-self: stretch;
    // }
}

#contract-service-canvas {
    width: 100%;
}

@media only screen and (min-device-width: 360px) {
    .contract-service {
        .contract-service__text {
            line-height: 0.75rem;
        }
    }
}

@media only screen and (min-device-width: 450px) and (max-device-width: 768px) {
    .contract-service {
        .contract-service__text {
            line-height: 1.25rem;
        }
    }
}

@media only screen and (min-device-width: 768px) {
    .contract-service {
        grid-template-columns: 21.5vw 21.5vw;
        grid-template-rows: 10% 10% 20vh 4vh;
    }
    #contract-service-canvas {
        flex-flow: row wrap;
        max-width: 1280px;
    }
}

@media only screen and (min-device-width: 1024px) {
    .contract-service {
        margin: 0 2% 8vh 2%;
        grid-template-columns: 135px 135px;
        grid-template-rows: 10% 10% 10vh 2vh;
        .contract-service__text {
            line-height: 0.75rem;
        }
    }
}

@media only screen and (min-device-width: 1200px) and (min-width: 768px) {
    .contract-service {
        grid-template-columns: 20.5vw 20.5vw;
        grid-template-rows: 10% 10% 20vh 2vh;
    }
}

@media only screen and (min-device-width: 1200px) and (min-width: 1100px) {
    .contract-service {
        grid-template-columns: 135px 135px;
        grid-template-rows: 10% 10% 20vh 2vh;
    }
}