/*
    footer:
        - Dimensions: width: 100vw - height: 8vh. The dimensions are relative to the viewport of the page, so
        the footer is responsive.
        - It is a flexbox container, its row-direction changes from column to row for tablets and desktop.
*/

#content {
    footer {
        overflow: inherit;
        height: 8vh;
        width: 100vw;
        padding-left: 21px;
        color: $first-color;
        background-color: $second-color;
        #footer__text {
            span {
                margin-bottom: 1%;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #content {
        footer {
            align-items: center;
            align-content: center;
            flex-flow: row nowrap;
            justify-content: space-between;
            #footer__text {
                flex-flow: row nowrap;
                margin-left: 2%;
            }
            #footer__terms {
                margin-right: 5%;
            }
        }
    }
}