header {
    position: fixed;
    height: 12vh;
    z-index: 1;
    width: 100vw;
    color: $first-color;
    background-color: $second-color;
    #menu-button {
        height: 10vh;
        width: 15vw;
        margin-right: 5%;
    }
    #logo {
        height: 10vh;
        width: auto;
        object-fit: contain;
        margin-left: 5%;
    }
}