@import "../resets.scss";
@import "../theme/theme-font.scss";
@import "../theme/theme-color.scss";
@import "../globals/global.scss";
@import "../components/button.scss";
@import "../components/hole.scss";
@import "../components/mole.scss";
html {
    background: $first-color;
}

body {
    display: flex;
    justify-content: center;
}

main {
    width: 90vw;
    h1 {
        line-height: 1;
        margin: 2rem 5rem;
        background: $first-color;
    }
    .score {
        line-height: 1;
        border-radius: 1rem;
    }
    .game {
        width: 600px;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}