@import "../resets.scss";
@import "../theme/theme-font.scss";
@import "../theme/theme-color.scss";
@import "../globals/global.scss";
@import "../components/table.scss";
@import "../components/button.scss";
@import "../components/hole.scss";
@import "../components/mole.scss";
html {
    background: $first-color;
}

body {
    display: flex;
    justify-content: center;
}

body,
button {
    cursor: url('./assets/imgs/mole-cursor.png'), auto;
}

main {
    width: 90vw;
    height: 100vh;
    h1 {
        line-height: 1;
        background: $first-color;
        margin: 3vh 0;
    }
    .score {
        line-height: 1;
        border-radius: 1rem;
    }
    .game {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 2vh;
    }
    #play-form {
        width: 70vw;
        align-self: flex-start;
        input {
            width: 60%;
            height: 100%;
            margin-left: 2%;
            background-color: $second-color;
            color: $third-color;
            border: none;
            border-radius: 1vh;
            font-size: inherit;
            &::placeholder {
                color: $fourth-color;
            }
        }
    }
}