/*
    This theme stylesheet sets the the color and font of the application, so it can be
    imported by different pages for defining its theme.

    The font-size is set directly to the dom root html. For then using rem
    units that are relative to the font-size of the dom root.
    This helps to only have one font-size defined with px, and all the other
    fonts in the application are relative to it.
    Then, the font size of the dom root is changed by the respective media-queries,
    and all the fonts of the application are changed automatically.
*/

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

ul {
    background-color: #D3D3D3;
}

.button {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
}

.button:hover {
    background-color: #9c9c9c;
    border: 1px solid #9c9c9c;
}

.cs-canvas__contract-service span {
    font-weight: bold;
}

.cs-canvas__contract-service h2::after {
    background: #9c9c9c;
}