@import '../resets.scss';
@import '../globals/global.scss';
@import '../theme/theme-color.scss';
@import '../theme/theme-font.scss';
@import '../components/header.scss';
@import '../components/nav-bar.scss';
@import '../components/button.scss';
@import '../components/hero-section.scss';
@import '../components/contract-service.scss';
@import '../components/footer.scss';
#content {
    overflow: hidden;
    position: relative;
    top: 10vh;
    main {
        overflow: inherit;
        width: 90vw;
    }
}

@media only screen and (min-device-width: 768px) {
    #content {
        top: 8vh;
        main {
            width: 95vw;
        }
    }
}