.contract-service {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 4vh 20vh 4vh;
    justify-items: stretch;
    align-items: stretch;
    margin: 1%;
}

.contract-service h1 {
    font-size: 0.75rem;
    grid-area: 1/1/2/3;
}

.contract-service p {
    font-size: 0.60rem;
    grid-area: 2/2/3/3;
    margin-left: 5%;
}

.contract-service img {
    grid-area: 2/1/3/2;
}

.contract-service .button {
    font-size: 0.70rem;
    grid-area: 3/2/4/3;
    margin: 1%;
}

.contract-service span {
    font-size: 0.70rem;
    grid-area: 3/1/4/2;
    align-self: center;
}

@media only screen and (min-device-width: 768px) {
    .contract-service {
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 4vh 20vh 4vh;
    }
    .contract-service p {
        font-size: 0.70rem;
    }
}