html {
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header,
footer,
.button {
    color: #ffffff;
    background-color: #000000;
}

.button {
    border: 1px solid #000000;
}

.button:hover {
    background-color: #9c9c9c;
    border: 1px solid #9c9c9c;
}

.contract-service span {
    font-weight: bold;
}

.contract-service h2::after {
    background: #9c9c9c;
}